<section class="ml-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Booking Analysis</h3>
    <!-- page start-->
    <div class="tab-pane" id="chartjs">
      <div class="row mt">
        <div class="col-lg-6">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Bookings by project </h4>
            <div class="panel-body text-center">
                <%= pie_chart Project.joins(:bookings).group(:name).count %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Booking items by category</h4>
            <div class="panel-body text-center">
                <%= pie_chart Category.joins(:equipment => :booking_items).group(:name).count %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt">
        <div class="col-lg-6">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Bookings by days of the week </h4>
            <div class="panel-body text-center">
              <%= line_chart Booking.group_by_day_of_week(:pickup_date, format: "%a").count %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content-panel">
            <h4><i class="fa fa-angle-right"></i> Bookings by months of the year </h4>
            <div class="panel-body text-center">
              <%= line_chart Booking.group_by_month_of_year(:pickup_date, format: "%b").count %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>