<div class="container ml-content">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-xl-10 mt-5 mb-5">
      <div class="card">
        <div class="card-body">

    		  <h2 class="card-title">Edit this equipment</h2>

    		  <%= render "form", labor_item: @labor_item %>
   
        </div>
      </div>
    </div>
  </div>
</div>