

<div class="regist">
  <div class="card">
    <div class="card-block">
        <h3 class="card-title">Add a new Booking </h3>
        <%= render "form", booking: @booking %>
    </div>
  </div>
</div> 