<div class="container ml-content pt-4">
  <%= link_to "Add New Project",  new_project_path, class: "btn btn-success" if logged_in?(:admin)  %>
  <div class="row">
    <%= render @projects %>
   </div>
</div>
