<div class="container ml-content pt-4">
  <%= link_to "Add New Project",  new_project_path, class: "btn btn-primary" if logged_in?(:admin)  %>
  <div class="row padding-top">
    <%= render @projects %>
   </div>
</div>
