/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require fullcalendar
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/*
 * Alerts and Notices
 */

.alert, .notice {
  position: fixed;
  z-index: 999999999;
}


/*
 * Navbar
 */

.ml-navbar {
  min-height: 4rem;
}


/*
 * Content
 */

 .ml-content {
  margin-top: 4rem;
 }


/*
 * Sidebar
 */

.ml-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  max-height: calc(100vh - 4rem);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.ml-filter {
  @include media-breakpoint-up(md) {
    display: block;
  }
}

/*
 * Equipment List
 */

.ml-img-list {
  height: 4rem;
}