// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "jquery-ui";


/*--------------Tasks Widget--------------*/

section {
  padding: 0px;

}
.task-content {
  margin-bottom: 30px;
}

.task-panel {
  background: #fff;
  text-align: left;
  box-shadow: 0px 3px 2px #aab2bd;
  margin: 5px;

}
.panel-body {
  padding: 5px;
}

.panel-heading {
  text-align: center;
}

.tasks-widget .task-content:after {
  clear: both;
}

/* Import fonts */
/* @import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900); */

/* BASIC THEME CONFIGURATION */


ul li {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}
::selection {

  background: #68dff0;
  color: #fff;
}
::-moz-selection {
  background: #68dff0;
  color: #fff;
}

#container {
  width: 100%;
  height: 100%;
}

/* Bootstrap Modifications */
.modal-header {
  background: #68dff0;
}

.modal-title {
  color: white;
}

.btn-round {
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

.accordion-heading .accordion-toggle {
  display: block;
  cursor: pointer;
  border-top: 1px solid #F5F5F5;
  padding: 5px 0px;
  line-height: 28.75px;
  text-transform: uppercase;
  color: #1a1a1a;
  background-color: #ffffff;
  outline: none !important;
  text-decoration: none;
}


/*Helpers*/

.centered {
  text-align: center;
}

.goleft {
  text-align: left;
}

.goright {
  text-align: right;
}

.mt {
  margin-top: 25px;
}

.mb {
  margin-bottom: 25px;
}

.ml {
  margin-left: 5px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

/*Exclusive Theme Colors Configuration*/

.label-theme {
  background-color: #68dff0;
}

.bg-theme {
  background-color: #68dff0;
}

ul.top-menu > li > .logout {
  color: #f2f2f2;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #64c3c2 !important;
  padding: 5px 15px;
  margin-right: 15px;
  background: #68dff0;
  margin-top: 15px;
}

/* MAIN CONTENT CONFIGURATION */
#main-content {
  margin-left: 10px;
}

.header, .footer {
  min-height: 60px;
  padding: 0 15px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}

.black-bg {
  background: #ffd777;
  border-bottom: 1px solid #c9aa5f;
}

.wrapper {
  display: inline-block;
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 0px;
  width: 100%;
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}


.sidebar-closed > #sidebar > ul {
  display: none;
}

.sidebar-closed #main-content {
  margin-left: 0px;
}

.sidebar-closed #sidebar {
  margin-left: -180px;
}


/* Dash Side */

.ds {
  background: #ffffff;
  padding-top: 20px;
}

.ds h4 {
  font-size: 14px;
  font-weight: 700;
}

.ds h3 {
  color: #ffffff;
  font-size: 16px;
  padding: 0 10px;
  line-height: 60px;
  height: 60px;
  margin: 0;
  background: #ff865c;
  text-align: center;
}

.ds i {
  font-size: 12px;
  line-height: 16px;
}

.ds .desc {
  border-bottom: 1px solid #eaeaea;
  display: inline-block;
  padding: 15px 0;
  width: 100%;
}

.ds .desc:hover {
  background: #f2f2f2;
}

.ds .thumb {
  width: 30px;
  margin: 0 10px 0 20px;
  display: block;
  float: left;
}

.ds .details {
  width: 170px;
  float: left;
}

.ds > .desc p {
  font-size: 11px;
}

.ds p > muted {
  font-size: 9px;
  text-transform: uppercase;
  font-style: italic;
  color: #666666
}

.ds a {
  color: #68dff0;
}




/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/*Panel Size*/

.pn {
  height: 250px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);

}

/* Specific Conf for Donut Charts*/
.donut-chart p {
  margin-top: 5px;
  font-weight: 700;
  margin-left: 15px;
}
.donut-chart h2 {
  font-weight: 900;
  color: #FF6B6B;
  font-size: 38px;
}

/*Content Panel*/
.content-panel {
  background: #ffffff;
  box-shadow: 0px 3px 2px #aab2bd;
  padding-top: 15px;
  padding-bottom: 5px;
}
.content-panel h4 {
  margin-left: 10px;
}



/*todolist*/
#sortable {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
}
#sortable li {
  padding-left: 3em;
  font-size: 12px;
}
#sortable li i {
  position: absolute;
  left:6px;
  padding:4px 10px 0 10px;
  cursor: pointer;
}

#sortable li input[type=checkbox]{
  margin-top: 0;
}

.ui-sortable > li {
  padding: 15px 0 15px 35px !important ;
  position: relative;
  background: #f5f6f8;
  margin-bottom: 2px;
  border-bottom   : none !important;
}

.ui-sortable li.list-primary {
  border-left: 3px solid #41CAC0;
}

.ui-sortable li.list-success {
  border-left: 3px solid #78CD51;
}

.ui-sortable li.list-danger {
  border-left: 3px solid #FF6C60;
}

.ui-sortable li.list-warning {
  border-left: 3px solid #F1C500;
}

.ui-sortable li.list-info {
  border-left: 3px solid #58C9F3;
}

.ui-sortable li.list-inverse {
  border-left: 3px solid #BEC3C7;
}

/*footer*/
.site-footer {
  background: #68dff0;
  color: #fff;
  padding: 10px 0;
}


.go-top {
  margin-right: 1%;
  float: right;
  background: rgba(255,255,255,.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.go-top i {
  color: #2A3542;
}

.site-min-height {
  min-height: 900px;
}



.tasks-widget .task-footer  {
  margin-top: 5px;
}

.tasks-widget .task-footer:after,
.tasks-widget .task-footer:before {
  content: "";
  display: table;
  line-height: 0;
}

.tasks-widget .task-footer:after {
  clear: both;
}

.tasks-widget  .task-list {
  padding:0;
  margin:0;
}

.tasks-widget .task-list > li {
  position:relative;
  padding:5px 5px;
  border-bottom:1px dashed #eaeaea;
}

.tasks-widget .task-list  li.last-line {
  border-bottom:none;
}

.tasks-widget .task-list  li > .task-bell  {
  margin-left:10px;
}

.tasks-widget .task-list  li > .task-checkbox {
  float:left;
  width:30px;
}

.tasks-widget .task-list  li > .task-title  {
  overflow:hidden;
  margin-right:10px;
}

.tasks-widget .task-list  li > .task-config {
  position:absolute;
  top:10px;
  right:10px;
}

.tasks-widget .task-list  li .task-title .task-title-sp  {
  margin-right:5px;
}

.tasks-widget .task-list  li.task-done .task-title-sp  {
  text-decoration:line-through;
  color: #bbbbbb;
}

.tasks-widget .task-list  li.task-done  {
  background:#f6f6f6;
}

.tasks-widget .task-list  li.task-done:hover {
  background:#f4f4f4;
}

.tasks-widget .task-list  li:hover  {
  background:#f9f9f9;
}

.tasks-widget .task-list  li .task-config {
  display:none;
}

.tasks-widget .task-list  li:hover > .task-config {
  display:block;
  margin-bottom:0 !important;
}


@media only screen and (max-width: 320px) {

  .tasks-widget .task-config-btn {
    float:inherit;
    display:block;
  }

  .tasks-widget .task-list-projects li > .label {
    margin-bottom:5px;
  }

}


@media (max-width: 480px) {

  .notify-row, .search, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
    display: none;
  }

  #top_menu .nav > li, ul.top-menu > li {
    float: right;
  }
  .hidden-phone {
    display: none !important;
  }

  .chart-position {
    margin-top: 0px;
  }

  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #ccc;
    border-color:#ccc ;
  }

}

/* Styles responsive */

/* Buttons */

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

/* Font awesome */
.pull-right {
  float: right;
}


