<% if !@booking_item.nil? && @booking_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @booking_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @booking_items.size == 0 %>
  <p class="text-center">
    There are no items in your equipment list.  Please <%= link_to "go back", root_path %> and add some items to your list.
  </p>
<% else %>
  <% @booking_items.each do |booking_item| %>
    <%= render 'list/list_row', labor_item: booking_item.equipment, booking_item: booking_item %>
  <% end %>
<% end %>